<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .overlay {
            position: fixed; /* Ensures overlay stays on top of content */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex; /* Enables centering content */
            justify-content: center; /* Centers content horizontally */
            align-items: center; /* Centers content vertically */
            background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
        }

        .video-container {
            background-color: white; /* Optional: Background for video container */
            padding: 2px; /* Optional: Padding for video container */
        }

        .video-container.youtube {
            width: 560px;
            height: 315px;
        }

        .video-container.web {
            width: 80%;
            height: 80%;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-if="showOverlay" class="overlay" @click="closeOverlay">
        <div :class="['video-container', currentOverlayType]">
            <iframe v-if="currentOverlayType === 'video'" :src="currentOverlayURL" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe v-else :src="currentOverlayURL" frameborder="0" style="width: 100%; height: 100%;"></iframe>
        </div>
    </div>
    <button @click="saveAsPNG">Save as PNG</button>
    <svg version="1.1" xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns="http://www.w3.org/2000/svg" viewBox="46.0 -0.3 734.8 1260" width="734.8" height="1280">
        <defs/>
        <g stroke="none" stroke-opacity="1" fill="none" stroke-dasharray="none" fill-opacity="1">
            <g v-for="(row, rowIndex) in rows" :key="rowIndex">
                <title>Layer {{ rowIndex + 1 }}</title>
                <g v-for="(column, colIndex) in (rowIndex % 2 === 0 ? row.columns : row.columns.slice().reverse())" :key="colIndex">
                    <g :id=column.lines[0] @click="showVideo(column.youtubeEmbedURL || column.webURL, column.youtubeEmbedURL ? 'video' : 'web')">
                        <g v-if="rowIndex % 2 === 0"
                           :transform="'translate(0, ' + (rowIndex * 200) + ')'">
                            <title>Row_to_Row_RHS</title>
                            <path d="M 600 30 C 640.2 29.9 693.9 25.0 714 58 C 734.1 91.0 735.8 166.3 714 199.7 C 693.9 230.6 642.1 229.7 600.0 229.9"
                                  stroke="#90ee90" stroke-linecap="butt" stroke-linejoin="round" stroke-width="7"/>
                        </g>
                        <g v-if="rowIndex % 2 === 0"
                           :transform="'translate(0, ' + (rowIndex * 200) + ')'">
                            <title>Row_to_Row_LHS</title>
                            <path d="M 179.2 230.6 C 139.0 230.4 85.3 225.6 65.2 258.6 C 45.1 291.6 43.4 366.9 65.2 400.2 C 87.0 433.6 145.7 429.9 189.2 430.6"
                                  stroke="#90ee90" stroke-linecap="butt" stroke-linejoin="round" stroke-width="7"/>
                        </g>
                        <g v-if="colIndex < row.columns.length - 1">
                            <line :x1="(rowIndex % 2 === 0 ? 200 : 381) + colIndex * 200"
                                  :y1="30 + rowIndex * 200"
                                  :x2="(rowIndex % 2 === 0 ? 380 : 201) + colIndex * 200"
                                  :y2="30 + rowIndex * 200" stroke="#90ee90" stroke-linecap="butt"
                                  stroke-linejoin="round"
                                  stroke-width="7"/>
                        </g>
                        <g>
                            <circle :cx="(rowIndex % 2 === 0 ? 190 : 190) + colIndex * 200"
                                    :cy="30 + rowIndex * 200" r="10.0" fill="#ffa500"/>
                        </g>
                        <g>
                            <title>heading</title>
                            <text :transform="'translate(' + ((colIndex === 0 ? (rowIndex % 2 === 0 ? 155 : 155) : (rowIndex % 2 === 0 ? 170 : 170)) + colIndex * 200) + ' ' + (rowIndex * 200 - 0.3) + ')'"
                                  fill="black">
                                <tspan font-family="Helvetica" font-size="14" fill="black" font-weight="bold" x="-45" y="15"
                                       xml:space="preserve">{{ column.lines[0] }}</tspan>
                            </text>
                        </g>
                        <g>
                            <title>detail</title>
                            <text :transform="'translate(' + ((colIndex === 0 ? (rowIndex % 2 === 0 ? 135 : 135) : (rowIndex % 2 === 0 ? 150 : 150)) + colIndex * 200) + ' ' + (rowIndex * 200 + 48.2) + ')'"
                                  fill="black">
                                <tspan v-for="(line, lineIndex) in column.lines.slice(1)" :key="lineIndex"
                                       font-family="Helvetica" font-size="11" fill="black" x="-25"
                                       :y="15 + lineIndex * 19" xml:space="preserve">{{ line }}</tspan>
                            </text>
                        </g>
                    </g>

                </g>
            </g>
        </g>
    </svg>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            rows: [],
            showOverlay: false,
            currentOverlayURL: '',
            currentOverlayType: ''
        },
        created() {
            fetch('timeline-data.json')
                .then(response => response.json())
                .then(data => {
                    this.rows = data;
                })
                .catch(error => console.error('Error loading timeline data:', error));
        },
        methods: {
            showVideo(url, type) {
                this.currentOverlayURL = url;
                this.currentOverlayType = type;
                this.showOverlay = true;
            },
            closeOverlay() {
                this.showOverlay = false;
            },
            saveAsPNG() {
                const svgElement = document.querySelector('svg');
                const svgData = new XMLSerializer().serializeToString(svgElement);
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');
                const img = new Image();

                canvas.width = svgElement.clientWidth;
                canvas.height = svgElement.clientHeight;

                ctx.fillStyle = 'white';
                ctx.fillRect(0, 0, canvas.width, canvas.height);

                img.onload = function() {
                    ctx.drawImage(img, 0, 0);
                    const pngFile = canvas.toDataURL('image/png');
                    const downloadLink = document.createElement('a');
                    downloadLink.href = pngFile;
                    downloadLink.download = 'timeline.png';
                    document.body.appendChild(downloadLink);
                    downloadLink.click();
                    document.body.removeChild(downloadLink);
                };

                img.src = 'data:image/svg+xml;base64,' + btoa(unescape(encodeURIComponent(svgData)));
            }
        },
    });
</script>
</body>
</html>
